<div class="container">
  <h1>Welcome to Flash Cards</h1>
  <p>Hello, Playa!</p>

  <table>
    <tr>
      <th>Kindly login to Flash your mind</th>
    </tr>
  </table>
    <tr>
      <form>
     <form action="/user/login" method="get">
      <label for="user_name">Username:</label><br>
      <input type="text" class="required" name="user[user_name]" id="user_name" autofocus><br>
      <label for="password">Password:</label><br>
      <input type="password" class="required" name="user[password]" id="password"><br>
     <td><a href='/decks' type="submit" value="LOGIN"</a>LOGIN</td>

    </form>
    </tr>
</div>

